html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

object,
embed,
button {
    outline: 0;
}

input::-moz-focus-inner {
    border: 0;
}

input,
label,
select,
button,
textarea {
    margin: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    line-height: 1;
    font-size: 13px;
    font-family: Arial;
}

input,
textarea {
    box-sizing: content-box;
}

button,
input[type="reset"],
input[type="button"],
input[type="submit"],
input[type="checkbox"],
input[type="radio"],
select {
    box-sizing: border-box;
}

input[type="checkbox"],
input[type="radio"] {
    width: 13px;
    height: 13px;
}

::-webkit-search-decoration {
    display: none;
}

button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
    overflow: visible;
    width: auto;
}

::-webkit-file-upload-button {
    padding: 0;
    border: 0;
    background: none;
}

textarea {
    vertical-align: top;
    overflow: auto;
}

select[multiple] {
    vertical-align: top;
}

h1 {
    text-align: center;
    margin: 12px;
    padding: 0;
    color: #C9235B;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#welcome {
    font-size: 60px;
    padding: 0;
    color: #3B0F1E;
    margin: 0;
    margin-top: 48px;
    display: block;
    width: 100%;
    height: 72px;
    line-height: 72px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=135, Color=#c9235b)";
    /*IE 8*/
    text-shadow: 1px 1px 0 #c9235b, -1px -1px 0 #c9235b, 0 2px 5px #000000, 0 -2px 5px #000000;
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=135, Color=#c9235b);
    /*IE 5.5-7*/
    background: #3B0F1E;
    border-top: 1px solid #C9235B;
    border-bottom: 1px solid #C9235B;
    opacity: 0.8;
}

body {
    font: 1em/1.5em 'Rajdhani', Verdana, Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=180, Color=#f01f65)";
    /*IE 8*/
    text-shadow: 0 1px 0 #f01f65;
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=180, Color=#f01f65);
    /*IE 5.5-7*/
}

#wraper {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background: -webkit-radial-gradient(ellipse farthest-side at center center, rgb(201, 35, 91) 3%, rgb(115, 25, 55) 41%, rgb(0, 0, 0) 100%);
    background: -o-radial-gradient(ellipse farthest-side at center center, rgb(201, 35, 91) 3%, rgb(115, 25, 55) 41%, rgb(0, 0, 0) 100%);
    background: -moz-radial-gradient(ellipse farthest-side at center center, rgb(201, 35, 91) 3%, rgb(115, 25, 55) 41%, rgb(0, 0, 0) 100%);
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAjVBMVEUAAAAGBgYLCwsREREWFhYcHBwhISEnJycsLCwyMjI3Nzc9PT1DQ0NISEhOTk5TU1NZWVleXl5kZGRpaWlvb290dHR6enp/f3+FhYWLi4uQkJCWlpabm5uhoaGmpqasrKyxsbG3t7e8vLzCwsLIyMjNzc3T09PY2Nje3t7j4+Pp6enu7u709PT5+fn////yspZgAAAAL3RSTlMuLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLi4uLvdc3fMAAAG6SURBVBgZBcGJAoQQFADARyqli+2wlXQIq+P/P29n4EBhEVGfxcvNfVlh/XjByymDK8VflsOk983yoC8bWbSF+4ARQxxM+5Fw5X6zlG1olvosYWpQCNu5f0x9X3pqGfK02hkGYuRgYFaiGuTZFHjuvXWAduhP2xBM9N0ae4Inzty0Xw2C8RQmKPxSr74fYqYysrOmFMHIhg6W+0XMhv1t3OeC8EBO4LoxfQeKLlkEw9SBDolxx2OAJuVLnc2bHtXqnfmUJCIoRcBstpb8qIPQdH2pd+dT5GUlodBE7mQ8lVoUL92TtNWQPDUFcSfpUWWDGxmQRwN7Wg9fgWGF8rL1YtdnK4Rlfd251yTrDYHb98orD0vRrSdWV6PsMMMCvitjec97Ldb5ropUqMLLRBNItn3FMQVMsub3vuYQ22SGpAfdj4ks/VkrDD826tJE6brsHL5UFoOjBZnCMrcI66dNv6++oHmZ2vJ6m+9IVzFVlAddNb8H+jP2qWqwPvLQdaebnq+TOLewkJ2pNMvHQ00FEUchzMjIyGF8+o6iUfxCclpkO5eD2/wdAP+aiUn+UW3Cf7g9Bkmsa2jxB/oHM99B4tQfAAAAAElFTkSuQmCC'), radial-gradient(ellipse farthest-side at center center, rgb(201, 35, 91) 3%, rgb(115, 25, 55) 41%, rgb(0, 0, 0) 100%);
}

#info {
    display: none;
    position: absolute;
    width: 300px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin: -110px 0 0 -160px;
    z-index: 3;
    padding: 10px;
    background: #000 url(../images/sml.png) no-repeat 50px center;
}

#info p {
    margin: 0;
    font-size: 18px !important;
    line-height: 20px;
    color: #511355;
}

#more {
    position: absolute;
    display: block;
    width: 168px;
    height: 100px;
    right: 24px;
    top: 24px;
}

#info span {
    margin: 0 48px 0 0;
    text-align: right;
    width: 34px;
    display: inline-block;
}

#div a {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    top: 4px;
    right: 4px;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    text-transform: lowercase;
    font-size: 14px;
    overflow: hidden;
    background: #aaa;
    background: -moz-radial-gradient(50% 50%, circle cover, #f01f65 0%, #731937 100%);
    /* FF3.6+ */
    background: -webkit-radial-gradient(50% 50%, circle cover, #f01f65 0%, #731937 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(50% 50%, circle cover, #f01f65 0%, #731937 100%);
    /* Opera 11.10+ */
    background: -ms-radial-gradient(50% 50%, circle cover, #f01f65 0%, #731937 100%);
    /* IE10+ */
    background: radial-gradient(50% 50%, circle cover, #f01f65 0%, #731937 100%);
    /* W3C */
}

#div {
    background: #f01f65;
    background: -moz-radial-gradient(50% 50%, circle cover, #f01f65 0%, #731937 100%);
    /* FF3.6+ */
    background: -webkit-radial-gradient(50% 50%, circle cover, #f01f65 0%, #731937 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(50% 50%, circle cover, #f01f65 0%, #731937 100%);
    /* Opera 11.10+ */
    background: -ms-radial-gradient(50% 50%, circle cover, #f01f65 0%, #731937 100%);
    /* IE10+ */
    background: radial-gradient(50% 50%, circle cover, #f01f65 0%, #731937 100%);
    /* W3C */
    display: block;
    width: 300px;
    height: 300px;
    position: absolute;
    padding: 0 24px;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -174px;
    z-index: 1;
    overflow: hidden;
}

.border {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.sha1 {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=180, Color=#000000)";
    /*IE 8*/
    -moz-box-shadow: inset 0 1px 0 #000000, inset 0 -1px 0 #000000, 0 1px 0 #f01f65, inset 0 2px 0 #f01f65, 0 0 2px #333333;
    /*FF 3.5+*/
    -webkit-box-shadow: inset 0 1px 0 #000000, inset 0 -1px 0 #000000, 0 1px 0 #f01f65, inset 0 2px 0 #f01f65, 0 0 2px #333333;
    /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: inset 0 1px 0 #000000, inset 0 -1px 0 #000000, 0 1px 0 #f01f65, inset 0 2px 0 #f01f65, 0 0 2px #333333;
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=180, Color=#000000);
    /*IE 5.5-7*/
    overflow: hidden;
    border: 1px solid #3B0F1E;
}

.sha {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=12, Direction=180, Color=#000000)";
    /*IE 8*/
    -moz-box-shadow: 0 12px 12px #000000, inset 0 3px 3px #C9235B, inset 0 -4px 3px #290c2b;
    /*FF 3.5+*/
    -webkit-box-shadow: 0 12px 12px #000000, inset 0 3px 3px #C9235B, inset 0 -4px 3px #290c2b;
    /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0 12px 12px #000000, inset 0 3px 3px #C9235B, inset 0 -4px 3px #290c2b;
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=12, Direction=180, Color=#000000);
    /*IE 5.5-7*/
    overflow: hidden;
}

#spin777 {
    margin: 0 auto 12px;
    padding: 0;
    display: block;
    width: 300px;
    height: 180px;
    overflow: hidden;
    position: relative;
    background: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color=#ffffff)";
    /*IE 8*/
    -moz-box-shadow: 0 1px 3px #ffffff, 0 -1px 3px #000000;
    /*FF 3.5+*/
    -webkit-box-shadow: 0 1px 3px #ffffff, 0 -1px 3px #000000;
    /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0 1px 3px #ffffff, 0 -1px 3px #000000;
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color=#ffffff);
    /*IE 5.5-7*/
}

#overl1,
#overl2,
#overl3 {
    margin: 0;
    display: block;
    width: 100px;
    height: 180px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    transform: translateZ(0);
    backface-visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=90, Color=#333333)";
    /*IE 8*/
    -moz-box-shadow: inset 1px 0 0 #333333, inset 2px 0 0 #777777, inset -1px 1px 0 #333333, inset -2px 0 0 #777777;
    /*FF 3.5+*/
    -webkit-box-shadow: inset 1px 0 0 #333333, inset 2px 0 0 #777777, inset -1px 1px 0 #333333, inset -2px 0 0 #777777;
    /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: inset 1px 0 0 #333333, inset 2px 0 0 #777777, inset -1px 1px 0 #333333, inset -2px 0 0 #777777;
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=90, Color=#333333);
    /*IE 5.5-7*/
}

#overl1 {
    top: 0;
    left: 0;
}

#overl2 {
    top: 0;
    left: 100px;
}

#overl3 {
    top: 0;
    left: 200px;
}

#langas {
    z-index: 2;
    height: 180px;
    width: 300px;
    top: 0;
    left: 0;
    position: absolute;
    -webkit-box-shadow: 0px 2px 4px 2px #000 inset;
    -moz-box-shadow: 0px 2px 4px 2px #000 inset;
    box-shadow: 0px 2px 4px 2px #000 inset;
}

ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 300px;
    height: 60px;
    text-align: center;
    display: block;
    position: relative;
    overflow: hidden;
}

li {
    float: left;
    display: block;
    height: 60px;
    width: 100px;
    outline: 1px solid black;
    line-height: 30px;
    background: #ccc;
}

button {
    float: right;
    margin: 0;
    padding: 0;
    height: 48px;
    width: 100px;
    text-align: center;
    line-height: 48px;
    background: #aaa;
    background: -moz-radial-gradient(50% 50%, circle cover, #f01f65 0%, #731937 100%);
    /* FF3.6+ */
    background: -webkit-radial-gradient(50% 50%, circle cover, #f01f65 0%, #731937 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(50% 50%, circle cover, #f01f65 0%, #731937 100%);
    /* Opera 11.10+ */
    background: -ms-radial-gradient(50% 50%, circle cover, #f01f65 0%, #731937 100%);
    /* IE10+ */
    background: radial-gradient(50% 50%, circle cover, #f01f65 0%, #731937 100%);
    /* W3C */
    font-size: 24px;
    font-weight: 900;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=180, Color=#f01f65)";
    /*IE 8*/
    text-shadow: 0 1px 0 #f01f65;
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=180, Color=#f01f65);
    /*IE 5.5-7*/
    color: #000;
}

#inp:hover,
#out:hover,
button:hover {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
    cursor: url('../images/cursor.cur'), auto;
}

button:active {
    transform: translateY(2px);
}

p {
    color: #110408;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.ewe {
    font-weight: 900;
    margin: 0;
    padding: 0;
}

#suma,
#kiek {
    margin: 0 4px;
}

.toprigth {
    position: absolute;
    top: 24px;
    right: 24px;
}

.topleft {
    position: absolute;
    top: 24px;
    left: 24px;
}

.a1,
.a2,
.a3,
.a4,
.a5,
.a6,
.a7,
.a8,
.a9,
.a10,
.qqq {
    display: inline-block;
    background: url(../images/png.png) no-repeat;
    overflow: hidden;
    text-indent: -9999px;
}

.a1 {
    background-position: 0 0;
}

.a2 {
    background-position: 0 -60px;
}

.a3 {
    background-position: 0 -120px;
}

.a4 {
    background-position: 0 -180px;
}

.a5 {
    background-position: 0 -240px;
}

.a6 {
    background-position: 0 -300px;
}

.a7 {
    background-position: 0 -360px;
}

.a8 {
    background-position: 0 -420px;
}

.a9 {
    background-position: 0 -480px;
}

.a10 {
    background-position: 0 -540px;
}

.ax1 {
    background-image: url(../images/png.png);
    animation: animatedBackground .4s linear infinite;
    -webkit-animation: animatedBackground .4s linear infinite;
    -moz-animation: animatedBackground .4s linear infinite;
    -o-animation: animatedBackground .4s linear infinite;
}

.ax2 {
    background-image: url(../images/png.png);
    animation: animatedBackground .4s linear infinite;
    -webkit-animation: animatedBackground .4s linear infinite;
    -moz-animation: animatedBackground .4s linear infinite;
    -o-animation: animatedBackground .4s linear infinite;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.ax3 {
    background-image: url(../images/png.png);
    animation: animatedBackground .3s linear infinite;
    -webkit-animation: animatedBackground .3s linear infinite;
    -moz-animation: animatedBackground .3s linear infinite;
    -o-animation: animatedBackground .3s linear infinite;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.ax4 {
    background-image: url(../images/png.png);
    animation: move 1s linear;
    -webkit-animation: move 1s linear;
    -moz-animation: move 1s linear;
    -o-animation: move 1s linear;
    background-position: 0 -540px;
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=315, Color=#ffffff)";
    /*IE 8*/
    text-shadow: -1px -1px 1px #ffffff, 1px 1px 1px #ffffff, 0px 0px 6px #5c5353;
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=315, Color=#ffffff);
    /*IE 5.5-7*/
    backface-visibility: hidden;
    transform: translateZ(0);
}

.ax5 {
    animation: fontcolo 1s linear infinite;
    -webkit-animation: fontcolo 1s linear infinite;
    -moz-animation: fontcolo 1s linear infinite;
    -o-animation: fontcolo 1s linear infinites;
}

.ax6 {
    animation: welcome 2s linear infinite;
    -webkit-animation: welcome 2s linear infinite;
    -moz-animation: welcome 2s linear infinite;
    -o-animation: welcome 2s linear infinite;
}

@keyframes welcome {
    0% {
        color: #000000;
    }

    50% {
        color: #3B0F1E;
    }

    80% {
        color: #731937;
    }

    85% {
        color: #000000;
    }

    90% {
        color: #731937;
    }

    100% {
        color: #000000;
    }
}

@keyframes fontcolo {
    0% {
        color: #ffffff;
    }

    20% {
        color: #000000;
    }

    50% {
        color: #ffffff;
    }

    90% {
        color: #000000;
    }

    100% {
        color: #ffffff;
    }
}

@-moz-keyframes fontcolo {
    0% {
        color: #ffffff;
    }

    20% {
        color: #000000;
    }

    50% {
        color: #ffffff;
    }

    90% {
        color: #000000;
    }

    100% {
        color: #ffffff;
    }
}

@-webkit-keyframes fontcolo {
    0% {
        color: #ffffff;
    }

    20% {
        color: #000000;
    }

    50% {
        color: #ffffff;
    }

    90% {
        color: #000000;
    }

    100% {
        color: #ffffff;
    }
}

@-o-keyframes fontcolo {
    0% {
        color: #ffffff;
    }

    20% {
        color: #000000;
    }

    50% {
        color: #ffffff;
    }

    90% {
        color: #000000;
    }

    100% {
        color: #ffffff;
    }
}

@-moz-keyframes move {
    0% {
        transform: translate(0px, -70px);
    }

    50% {
        transform: translate(0px, -30px);
    }

    70% {
        transform: translate(0px, -20px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@-webkit-keyframes move {
    0% {
        transform: translate(0px, -70px);
    }

    50% {
        transform: translate(0px, -30px);
    }

    70% {
        transform: translate(0px, -20px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@-o-keyframes move {
    0% {
        transform: translate(0px, -70px);
    }

    50% {
        transform: translate(0px, -30px);
    }

    70% {
        transform: translate(0px, -20px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes move {
    0% {
        transform: translate(0px, -70px);
    }

    50% {
        transform: translate(0px, -30px);
    }

    70% {
        transform: translate(0px, -20px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@-moz-keyframes animatedBackground {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 540px;
    }
}

@-webkit-keyframes animatedBackground {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 540px;
    }
}

@-o-keyframes animatedBackground {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 540px;
    }
}

@keyframes animatedBackground {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 540px;
    }
}

footer {
    position: absolute;
    display: block;
    width: 100%;
    height: 48px;
    text-align: right;
    background: #731937;
    padding-top: 24px;
    border-top: 1px solid #F01F65;
}

footer span {
    margin: 0 24px;
}

a:link,
a:visited,
a:focus,
a:active {
    color: #000;
    outline: 0;
}

a:hover {
    color: #000;
}

@media (max-width:480px) {
    #welcome {
        font-size: 24px;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 24px;
        line-height: 24px;
    }

    body {
        width: auto;
        padding: 0;
        margin: 0;
        min-width: 348px;
    }
}
